* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: #dbddd9;
    font-family: rockwell, serif;
}

/* Header style start */
header {
    position: fixed;
    background-color: #d390a1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    z-index: 4;
}

.logo {
    width: 100%;
}

.link {
    width: 25%;
    margin: 5%;
}
    /* Menu style slut */
    /* Burger Menu Style Start */
nav {
    background-color: #d390a1;
    width: 100%;
    height: auto;
}

.burger {
    width: 25%;
}
  
#check {
    display: none;
}
  
.checkbtn {
    display: flex;
    justify-content: right;
    margin: 5%;
}
  
.sider {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 50%;
    background-color: #d390a1;
    text-align: center;
    left: 100%;
    margin-top: -20;
    transition: all 0.5s;
}

.sider li {
    margin: 5%;
}
  
#check:checked ~ ul {
    top: 15%;
    left: 0;
}
    /* Burger Menu style slut */
/* Header style slut */

/* Baggrund style start */
.baggrund {
    margin: 0;
    padding: 0;
    background: url('../media/moenster_m.webp') no-repeat center center fixed;
    background-size: cover;
    background-color: #d390a1;
    z-index: 0;
}

.baggrund::before {
/* Giver baggrunden opacity */
    content: ""; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(211, 144, 161, 0.3);
    z-index: 1;
}
/* Baggrund style slut */

/* Forside Indhold style start */
.indholdf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.vingef {
    position: absolute;
    rotate: -10deg;
    right: -7%;
    bottom: 82%;
    width: 25%;
    z-index: 3;
}

.rosef {
    position: absolute;
    right: 80%;
    bottom: 85%;
    width: 25%;
    z-index: 3;
}

.artikler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 30%;
    z-index: 2;
}

.tbf {
    position: relative;
    background-color: #8bafcf;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 10%;
    margin: 10%;
    height: auto;
}

.tbf h1, .tbf h2 {
    font-size: 100%;
    padding-bottom: 2%;
}

.tbf p {
    font-size: 80%;
}
/* Forside Indhold style slut */
/* TrøjborgFri Indhold style start */
.indholdt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;
}
    /* Produkter style start */
.titelt {
    background-color: #8bafcf;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    padding: 2%;
    margin-top: 10%;
}

.produkter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.oel {
    width: 50%;
}
    /* Produkter style slut */
    /* Forhandlere style start */
.kronet {
    position: absolute;
    rotate: -16deg;
    right: 81%;
    bottom: 92%;
    width: 25%;
    z-index: 3;
}

.tbt {
    position: relative;
    background-color: #8bafcf;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 10%;
    margin: 10%;
    height: auto;
}

.tbt h2 {
    font-size: 100%;
    padding-bottom: 2%;
}

.tbt ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 80%;
}

.tbt a {
    display: flex;
    justify-content: center;
    width: 50%;
}

    /* Forhandlere style slut */
/* TrøjborgFri Indhold style slut */
/* Inspiration Indhold style start */
.indholdi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.titel {
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
}

.titeltra {
    display: flex;
    justify-content: center;
    padding-bottom: 0%;
}

.titel a, .titeltra a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
}

.titel img, .titeltra img {
    width: 30%;
    height: auto;
}

.tbi, .tbit {
    position: relative;
    background-color: #819f97;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
    padding: 10%;
    margin: 10%;
    height: auto;
    z-index: 3;
}

.artikler .tbi h1, .artikler .tbi h2, .artikler .tbit h1, .artikler .tbit h2 {
    font-size: 100%;
    padding-bottom: 2%;
}

.artikler .tbi h3, .artikler .tbit h3 {
    font-size: 90%;
    padding: 2% 2% 2% 2%;
}

.artikler .tbi p, .artikler .tbit p {
    font-size: 80%;
    padding: 2% 2% 2% 2%;
}

.artikler .tbi ul, .artikler .tbit ul {
    font-size: 80%;
    padding: 0 2% 0 2%;
}

.tom {
display: none;   
}

/* Inspiration Indhold style slut */
/* Om TrøjborgBryg Indhold style start */
.indholdo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.info {
    display: none;
}

.infomobil {
    background-color: #8bafcf;
    display: flex;
    width: 110%;
    margin-bottom: 0;
}

.babyo {
    position: absolute;
    rotate: 30deg;
    right: -4%;
    bottom: 89%;
    width: 25%;
    z-index: 3;
}

.tbo {
    position: relative;
    background-color: #8bafcf;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 10%;
    margin: 10%;
    height: auto;    
}

.tbo h1, .tbo h2 {
    font-size: 100%;
    padding-bottom: 2%;
}

.tbo p {
    font-size: 80%;
}

.artiklerk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    z-index: 2;
}

.fjero {
    position: absolute;
    rotate: -12deg;
    right: 90%;
    bottom: 3%;
    width: 15%;
    z-index: 3;
}

.tbo ul {
    font-size: 80%;
}
/* Om TrøjborgBryg Indhold style slut */
/* Footer style start */
footer {
    position: absolute;
    background-color: #d390a1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    z-index: 3;
}

.socials {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 5%;
}

footer .socials .some img {
    display: flex;
    align-items: center;
}

.some img {
    width: 80%;
}

/* Footer style slut */


/**************************************** Media ****************************************/
/* Media til mobil */
@media (max-width: 767px) {
    .punkter {
        display: none;
    }
}

/* Media til Tablet */
@media (min-width: 768px) {
.baggrund {
    margin: 0;
    padding: 0;
    background: url('../media/moenster_m.webp') no-repeat center center fixed;
    background-size: cover;
    background-color: #d390a1;
    z-index: 0;
}

/* Tablet Media header */
.checkbtn { 
    display: none;
}

header {
    height: auto;
}

.logo {
    width: 60%;
}

.punkter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 10%;
    font-size: 130%;
}

/* Tablet Media Forside */
.indholdf .artikler {
    margin-top: 15%;
}

.tbf {
    margin: 15% 0 5% 0;  
    padding: 5%;
}

.tbf h1, .tbf h2 {
    font-size: 150%;
}

.tbf p {
    font-size: 110%;
}

.vingef {
    position: absolute;
    rotate: -12deg;
    right: -7%;
    bottom: 65%;
    width: 20%;
    z-index: 3;
}

.rosef {
    position: absolute;
    right: 85%;
    bottom: 75%;
    width: 24%;
    z-index: 3;
}

/* Tablet Media TrøjborgFri */
.indholdt .artikler {
    margin-top: 15%;
}

.titelt {
    margin-top: 15% 0 5% 0;
}

.produkter {
    margin-top: 15% 0 5% 0;
}

.oel {
    width: 25%;
}

.tbt {
    margin: 15% 0 5% 0;  
    padding: 5%;
}

.kronet {
    position: absolute;
    rotate: -16deg;
    right: 85%;
    bottom: 89%;
    width: 20%;
    z-index: 3;
}

.tbt h1, .tbt h2 {
    font-size: 150%;
}

.tbt p {
    font-size: 110%;
}

.tbt ul {
    font-size: 110%;
}

/* Tablet Media Inspiration */
.indholdi .artikler {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 20%;
}

.titel {
    padding-bottom: 5%;
}

.tbi {
    position: relative;
    background-color: #819f97;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    padding: 5%;
    margin: 5%;
    height: auto;
    z-index: 3;
}

.tbit {
    position: relative;
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #819f97;
    width: 90%;
    padding: 5%;
    margin: 5%;
    height: auto;
    z-index: 3;
}

.tbi h1, .tbi h2, .tbit h1, .tbit h2 {
    padding: 2% 0 1% 0;
    font-size: 125%;
}

.tbi h3, .tbit h3 {
    padding: 2% 0 1% 0;    
    font-size: 125%;
}

.tbi p, .tbit p {
    font-size: 100%;
}

.tbi ul, .tbit ul {
    font-size: 100%;
}

/* Tablet Media Om TrøjborgBryg */
.indholdo .artikler {
    margin-top: 15%;
}

.tbo {
    margin: 15% 0 5% 0;  
    padding: 5%;
}

.tbo h1, .tbo h2 {
    font-size: 200%;
}

.tbo p {
    font-size: 110%;
}

.tbo ul {
    font-size: 110%;
}

.info {
background-color: #8bafcf;
display: flex;
width: 110%;
margin-bottom: 0;
}

.infomobil {
    display: none;
}

.babyo {
    position: absolute;
    rotate: 30deg;
    right: -4%;
    bottom: 80%;
    width: 20%;
    z-index: 3;
}

.fjero {
    position: absolute;
    rotate: -12deg;
    right: 95%;
    bottom: 5%;
    width: 10%;
    z-index: 3;
}

/* Tablet Media Footer */
.socials {
    display: flex;
    justify-content: center;
}

.some {
    width: 20%;
}

footer {
    height: 30%;
}
}


/* Media til Laptop */
@media (min-width: 1024px) {
.baggrund {
    margin: 0;
    padding: 0;
    background: url('../media/moenster_s.webp') no-repeat center center fixed;
    background-size: cover;
    background-color: #d390a1;
    z-index: 0;    
}

/* Laptop Media header */
.checkbtn { 
    display: none;
}

header {
    height: 20%;
}

.link {
    margin: 2%;
}

.logo {
    width: 30%;
}

.punkter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 10%;
    font-size: 150%;
}

/* Laptop Media Forside */
.indholdf .artikler {
    margin-top: 10%;
}

.vingef {
    position: absolute;
    rotate: -10deg;
    right: -5%;
    bottom: 55%;
    width: 15%;
    z-index: 3;
}

.rosef {
    position: absolute;
    left: -3%;
    bottom: 63%;
    width: 15%;
    z-index: 3;
}

.tbf {
    margin: 7% 0 5% 0;  
    padding: 5%;
    width: 60%;
}

.tbf h1, .tbf h2 {
    font-size: 150%;
}

.tbf p {
    font-size: 110%;
}

/* Laptop Media TrøjborgFri */
.indholdt .artikler {
    margin-top: 15%;
}

.titelt {
    margin-top: 0;
    width: 60%;
}

.produkter {
    margin-top: 5%;
}

.oel {
    width: 25%;
}

.kronet {
    position: absolute;
    rotate: -16deg;
    left: -4%;
    bottom: 90%;
    width: 15%;
    z-index: 3;
}

.tbt {
    margin: 5%;  
    padding: 5%;
    width: 60%;
}

.tbt h1, .tbt h2 {
    font-size: 150%;
}

.tbt p {
    font-size: 110%;
}

.tbt ul {
    font-size: 110%;
}

/* Laptop Media Inspiration */
.indholdi .artikler {
    margin-top: 10%;
}

.titeltra {
    display: flex;
    justify-content: center;
    padding-bottom: 0%;
}

.titeltra a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: auto;
    padding-bottom: 5%;
}

.tbi {
    margin: 5% 5% 5% 5%;  
    padding: 5%;
}

.tbit {
    position: relative;
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #819f97;
    width: 90%;
    padding: 5%;
    margin: 5%;
    height: auto;
    z-index: 3;
}

.tbi h1, .tbi h2, .tbit h2 {
    font-size: 200%;
}

.tbi p, .tbit p {
    font-size: 110%;
}

.tbi h3, .tbit h3 {
    font-size: 120%;
}

.tbi ul, .tbit ul {
    font-size: 110%;
}

/* Laptop Media Om TrøjborgBryg */
.indholdo .artikler {
    margin-top: 10%;
}

.tbo {
    margin: 5%;  
    padding: 5%;
    width: 60%;
}

.tbo h1, .tbo h2 {
    font-size: 200%;
}

.tbo p {
    font-size: 110%;
}

.tbo ul {
    font-size: 110%;
}

.info {
    background-color: #8bafcf;
    display: flex;
    width: 110%;
    margin-bottom: 0;
}

.infomobil {
    display: none;
}

.babyo {
    position: absolute;
    rotate: 30deg;
    right: -4%;
    bottom: 80%;
    width: 15%;
    z-index: 3;
}

.fjero {
    position: absolute;
    rotate: -12deg;
    right: 95%;
    bottom: 5%;
    width: 7%;
    z-index: 3;
}

/* Laptop Media Footer */
.socials {
    display: flex;
    justify-content: center;
}

.some {
    width: 10%;
}

footer {
    height: 20%;
}
}