* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: #dbddd9;
    font-family: rockwell, serif;
}

/* Header style start */
header {
    position: fixed;
    background-color: #d390a1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    z-index: 4;
}

.logo {
    width: 100%;
}

.link {
    width: 25%;
    margin: 5%;
}
    /* Menu style slut */
    /* Burger Menu Style Start */
nav {
    background-color: #d390a1;
    width: 100%;
    height: auto;
}

.burger {
    width: 25%;
}
  
#check {
    display: none;
}
  
.checkbtn {
    display: flex;
    justify-content: right;
    margin: 5%;
}
  
.sider {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 50%;
    background-color: #d390a1;
    text-align: center;
    left: 100%;
    top: 25%;
    transition: all 0.5s;
}

.sider li {
    margin: 5%;
}
  
#check:checked ~ ul {
    left: 0;
}
    /* Burger Menu style slut */
/* Header style slut */

/* Baggrund style start */
.baggrundf {
    position: fixed;
    margin-top: -8%;
    margin-bottom: 0;
    background-color: #d390a1;
    opacity: 80%;
    z-index: 1;
}

.baggrundt {
    position: fixed;
    margin-top: -10%;
    margin-bottom: 0;
    background-color: #d390a1;
    opacity: 80%;
    z-index: 1;
}

.baggrundi {
    position: fixed;
    top: 26%;
    margin-bottom: 0;
    background-color: #d390a1;
    opacity: 80%;
    z-index: 0;
}

.baggrundo {
    position: fixed;
    margin-top: -75%;
    margin-bottom: 0;
    background-color: #d390a1;
    opacity: 80%;
    z-index: 1;
}
/* Baggrund style slut */

/* Forside Indhold style start */
.indhold {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.artikler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 40%;
    z-index: 2;
}

.tbf {
    position: relative;
    background-color: #8bafcf;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 10%;
    margin: 10%;
    height: auto;
}

.tbf h1, .tbf h2 {
    font-size: 100%;
    padding-bottom: 2%;
}

.tbf p {
    font-size: 80%;
}
/* Forside Indhold style slut */
/* TrøjborgFri Indhold style start */
    /* Produkter style start */
.titelt {
    background-color: #8bafcf;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    padding: 2%;
}

.produkter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.oel {
    width: 50%;
}

    /* Produkter style slut */
    /* Forhandlere style start */
.tbt {
    position: relative;
    background-color: #8bafcf;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 10%;
    margin: 10%;
    height: auto;
}

.tbt h2 {
    font-size: 100%;
    padding-bottom: 2%;
}

.tbt ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 80%;
}

.tbt a {
    display: flex;
    justify-content: center;
    width: 50%;
}

    /* Forhandlere style slut */
/* TrøjborgFri Indhold style slut */
/* Inspiration Indhold style start */
.titel {
    padding-bottom: 10%;
}
.titel a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    
}

.titel img {
    width: 30%;
    height: auto;
}

.tbi {
    position: relative;
    background-color: #819f97;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 10%;
    margin: 10%;
    height: auto;
}

.tbi h1, .tbi h2 {
    font-size: 100%;
    padding-bottom: 2%;
}

.tbi h3 {
    font-size: 90%;
    padding: 4% 2% 2% 0;
}

.tbi p {
    font-size: 80%;
}

.tbi ul {
    font-size: 80%;
}

/* Inspiration Indhold style slut */
/* Om TrøjborgBryg Indhold style start */
.info {
    background-color: #8bafcf;
    display: flex;
    width: 90%;
    margin-bottom: 0;
}

.tbo {
    position: relative;
    background-color: #8bafcf;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 10%;
    margin: 10%;
    height: auto;    
}

.tbo h1, .tbo h2 {
    font-size: 100%;
    padding-bottom: 2%;
}

.tbo p {
    font-size: 80%;
}

.artiklerk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    z-index: 2;
}

.tbo ul {
    font-size: 80%;
}
/* Om TrøjborgBryg Indhold style slut */
/* Footer style start */
footer {
    position: absolute;
    background-color: #d390a1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    z-index: 3;
}

.socials {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 5%;
}

footer .socials .some img {
    display: flex;
    align-items: center;
}

.some img {
    width: 80%;
}

/* Footer style slut */


/**************************************** Media ****************************************/
/* Media til mobil */
@media (max-width: 767px) {
    .punkter {
        display: none;
    }
}


/* Media til Tablet */
@media (min-width: 768px) {
.baggrundf {
    width: 100%;
    margin-top: 49%;
}

.baggrundt {
    width: 100%;
    top: 250px;
}

.baggrundi {
    width: 100%;
    margin-top: 9%;
}

/* Media header */
.checkbtn { 
    display: none;
}

header {
    height: auto;
}

.logo {
    width: 60%;
}

.punkter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 10%;
    font-size: 130%;
}

/* Media Forside */
.artikler {
    margin-top: 30%;
}

.tbf {
    margin: 5%;  
    padding: 5%;
}

.tbf h1, .tbf h2 {
    font-size: 150%;
}

.tbf p {
    font-size: 110%;
}

/* Media TrøjborgFri */

.oel {
    width: 25%;
}

.tbt {
    margin: 5%;  
    padding: 5%;
}

.tbt h1, .tbt h2 {
    font-size: 150%;
}

.tbt p {
    font-size: 110%;
}

/* Media Inspiration */
.titel {
    padding-bottom: 5%;
}
.tbi {
    margin: 5%;  
    padding: 5%;
}

.tbi h1, .tbi h2 {
    font-size: 200%;
}

.tbi p {
    font-size: 110%;
}

.tbi h3 {
    font-size: 120%;
}

.tbi ul {
    font-size: 110%;
}

/* Media Footer */
.socials {
    display: flex;
    justify-content: center;
}

.some {
    width: 20%;
}

footer {
    height: 30%;
}
}


/* Media til Laptop */
@media (min-width: 1024px) {

}